.wrapper{
    margin: 0 auto;
    width: 100%
}

body {
    background-image: url("https://img.freepik.com/premium-photo/simple-white-background-with-smooth-lines-in-light-colors_476363-2152.jpg?w=2000");
    background-size: cover;
  }

.ground{
    height: 600px;
}

.header{
    font-size:50px;
    float: auto;
    margin-top: 40px;
    padding-top: 30px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center{
    height: 380px;
}

.left{
    width: 500px;
    height: 450px;
    margin-left: 330px;
    float: left;
    display: flex;
    flex-direction: column;
}

.right{
    height: 450px;
    float: left;
}

.right_inner{
	margin-left: 20px;
    display: flex;
    flex-direction: column;
}

#user_id{
	width:250px;
    height:25px;
}

.name{
    margin-top: 20px;
}

#name{
	width:250px;
    height:25px;
}

.kana{
   	margin-top: 20px; 
}

#name_kana{
	width:250px;
    height:25px;
}

.password{
    margin-top: 20px;
}

#password{
	width:250px;
    height:25px;
}

.upn{
    margin-top: 20px;
}

#upn{
	width:250px;
    height:25px;
}

.date{
    margin-bottom: 20px;
}

#birthday{
	width:150px;
    height:25px;
    text-align: center;
}

.gender{
    height:25px;
    margin-bottom: 30px;
}

.from{
    height:25px;
    margin-bottom: 50px;
}

.prefecture{
  	width: 150px;
  	height:25px;
    text-align: center;
}

.yakusyoku{
    height:25px;
    margin-bottom: 50px;
}

.role{
  	width: 150px;
  	height:25px;
    text-align: center;
}

.busyo{
  	height:25px;
    margin-bottom: 50px;
}

.department{
	width: 150px;
  	height:25px;
    text-align: center;
}

.date{
    margin-bottom: 20px;
}

#entry_date{
	width:150px;
    height:25px;
    text-align: center;
}

.next{
	padding: 5px 30px 5px 30px;
    font-size:15px;
    background-color: #FFFF55;
    margin-top: 30px;
}

.back{
	padding: 5px 30px 5px 30px;
    font-size:15px;
    background-color: #99FF00;
    margin-top: 30px;
    margin-left: 30px;
}