.wrapper{
    margin: 0 auto;
    width: 100%
}

body {
    background-image: url("https://img.freepik.com/premium-photo/simple-white-background-with-smooth-lines-in-light-colors_476363-2152.jpg?w=2000");
    background-size: cover;
  }

.header{
    font-size:50px;
    float: auto;
    margin-top: 40px;
    height: 70px;
    margin-left: 600px;
    padding-top: 30px;
    padding-bottom: 40px;
}

.center{
    width: 400px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

.error{
	width: 385px;
    margin-left: 550px;
    color: rgb(255, 38, 0);
}

.main{
    padding-top: 10px;
    font-size:20px;
}

.id{
    width:300px;
    height:30px;
}

.pass{
    width:300px;
    height:30px;
}

.footer{
    font-size:20px;
    margin-top: 30px;
    margin-left: 60px;
    padding: 5px 40px 5px 40px;
    color: white;
    background-color: #2DFF57;
}

.under{
    font-size:20px;
    margin-top: 20px;
    margin-left: 575px;
    float: auto;
    color:  #00AA00;
}