<!DOCTYPE html>
<html>
<head> 
<meta charset="utf-8"> 
<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
<title>社員新規登録</title> 
<link rel="stylesheet" href="new_regist.css"></head>
<body> 
    <div class="wrapper"> 
        <div class="ground">
        <div class="header">社員新規登録</div>
            <div class="center">
                <div class="main">
                <ul>
                    <label for="name">名前</label><br>
                    <input class="name" type="text" name="name" value="" size="20"><br>

                    <label for="name">カナ</label><br>
                    <input class="name" type="text" name="name" value="" size="20"><br>
​
                    <label for="id">ユーザーID</label><br>
                    <input class="id" type="text" name="id" value="" size="20"><br>
​
                    <label for="pass">パスワード</label><br>
                    <input class="pass" type="password" name="pass" value="" size="20"><br>
​
                    <label for="email">メールアドレス</label><br>
                    <input class="email" type="email" name="email" value="" size="20" ><br>
                    
        
                    <input type="radio" name="1" value="true">男<br>
                    <input type="radio" name="1" value="false">女<br>

                    <select name="prefecture_name">
                        <option value="">都道府県を選択</option>
                         </select> 

                      <select name="role_code">
                        <option value="">役職を選択</option>
                        </select> 

                      <select name="department_code">
                        <option value="">部署を選択</option>
                        <option value="サンプル2">営業</option>
                        <option value="サンプル3">IT</option>
                      </select> 


                    
                </ul>
                </div>
                <input type="submit" value="新規登録" class="footer" >
                    <input type="submit" value="キャンセル" class="footer" >
            </div>
        </div>
    </div>
</body>
</html>