.wrapper{
    margin: 0 auto;
    width: 1000px
}
.header{
    font-size:50px;
    float: auto;
    margin-top: 250px;
    height: 70px;
    margin-left: 280px;
    padding-top: 20px;
}
.button1{
    font-size:20px;
    margin-top: 20px;
    margin-left: 270px;
    padding: 5px 10px 5px 10px;
}

.button2{
    font-size:20px;
    margin-top: 20px;
    margin-left: 20px;
    padding: 5px 10px 5px 10px;
}

.button3{
    font-size:20px;
    margin-top: 20px;
    margin-left: 20px;
    padding: 5px 10px 5px 10px;
}

