.wrapper{
    margin: 0 auto;
    width: 1000px
}
.header{
    font-size:50px;
    float: auto;
    margin-top: 250px;
    height: 70px;
    margin-left: 300px;
    padding-top: 20px;
}
.footer{
    font-size:20px;
    margin-left: 380px;
    margin-top: 20px;
    padding: 20px 40px 5px 40px;
    background-color: #9BF9CC;
}

