<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
<meta charset="utf-8"> 
<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
<title>削除完了画面</title> 
<link th:href="@{/css/editcomplete.css}" rel="stylesheet"></link>
</head>
<body> 
    <div class="wrapper"> 
        <div class="ground">
        <div class="header">削除完了画面</div>
            <div class="center">
                <div class="main">
                    <p class="word">削除が完了しました。</p>
                    
                    <input th:href="@{/serch&list}" type="submit" value="一覧に戻る"
						class="next">
                
                </div>
            </div>
        </div>
    </div>
</body>
</html>