<!DOCTYPE html>
<html>
<head> 
<meta charset="utf-8"> 
<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
<title>新規登録</title> 
<link rel="stylesheet" href="register.css"></head>
<body> 
    <div class="wrapper"> 
        <div class="ground">
        <div class="header">新規登録</div>
            <div class="center">

                <div class="left">
                    <div class="id">
                        <label for="id">ID</label><br>
                        <input type="text" name="id" value="" size="20">
                    </div>
                    
                    <div class="name">
                        <label for="name">名前</label><br>
                        <input type="text" name="name" value="" size="20">
                    </div>

                    <div class="kana">
                        <label for="kana">名前(カナ)</label><br>
                        <input type="text" name="kana" value="" size="20">
                    </div>

                    <div  class="password">
                        <label for="password">パスワード</label><br>
                        <input type="text" name="password" value="" size="20">
                    </div>
                    <div  class="upn">
                        <label for="upn">UPN</label><br>
                        <input type="text" name="upn" value="" size="20">
                    </div>
                </div>

                <div class="right">
                    <div class="right_inner">
                        <div class="date">
                            <label for="date">生年月日</label><br>
                            <input type="date" name="date" value="" size="20">
                        </div>

                        <div class="gender">
                            <label for="gender">性別</label><br>
                            <input type="radio" name="man" value="男性"> 男性
                            <input type="radio" name="woman" value="女性" disabled> 女性                       
                        </div>
    
                        <div class="from">
                            <label for="from">出身都道府県</label><br>
                            <select name="from" th:value="*{id}">
                                <option value="">==</option>
                                <option th:each="item : ${menulist}" th:value="${item.id}" th:text="${item.name}" th:selected="${item.id} == *{id}"></option>
                            </select>
                        </div>
                        <div  class="busyo">
                            <label for="busyo">部署コード</label><br>
                            <select name="busyo" th:value="*{id}">
                                <option value="">==</option>
                                <option th:each="item : ${menulist}" th:value="${item.id}" th:text="${item.name}" th:selected="${item.id} == *{id}"></option>
                            </select>
                        </div>
                    </div>
                        <input type="submit" value="登録" class="next">
                        <input type="submit" value="戻る" class="back">
                </div>
            </div>
        </div>
    </div>
</body>
</html>