<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" th:href="@{/delete.css}">
<title>社員削除完了</title>
</head>
<body>
	<div id="wrapper">
		<div class="ground">
			<div class="deletion_completed">
				<p>社員削除完了</p>
			</div>
			<div class="center">
			<form th:action="@{/delete}" th:object="${userDate}" th:method="post">
				<main class="main">
					<div class="completed">
						<label>削除完了しました</label>
						<div class="backTop">
							<button type="submit" class="footer" onclick="">トップに戻る</button>
						</div>
					</div>
				</main>
			</form>
			</div>

		</div>
	</div>

</body>
</html>