 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
<meta charset="utf-8"> 

  <!-- Bootstrapの設定 -->
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"></link>
    <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    
<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
<title>新規登録</title> 
<link rel="stylesheet" href="/css/register.css"></head>
<body> 
    <div class="wrapper"> 
        <div class="ground">
        <div class="header">新規登録</div>
        <div th:if="${validationError}" th:each="error : ${validationError}">
     		 <label class="text-danger" th:text="${error}"></label>
     		 
    	</div>
        <form th:action="@{/register_completion}" th:object="${RegisterForm}" th:method="post">
            <div class="center">
                <div class="left">
                    <div class="id">
                        <label for="user_id">ID<span class="text-danger"></span></label><br>
                        <input type="text" name="user_id"  th:field="*{user_id}"  size="20">
                     
                        <!-- 個別エラーメッセージを表示 -->
           <!--            <span>class="text-danger" th:if="${#fields.hasErrors('id')}" th:errors="*{id}>
                              id error
                        </span>   -->
                    </div>
                    
                    <div class="name">
                        <label for="name">名前</label><br>
                        <input type="text" name="name" th:field="*{name}" size="20">
                      <!--   <span>class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}>
                              id error
                        </span>  -->
                    </div>

                    <div class="kana">
                        <label for="kana">名前(カナ)</label><br>
                        <input type="text" name="kana" th:field="*{name_kana}" size="20">
                    </div>

                    <div  class="password">
                        <label for="password">パスワード</label><br>
                        <input type="password" name="password" th:field="*{password}" size="20">
                    </div>
                    <div  class="upn">
                        <label for="upn">メールアドレス</label><br>
                        <input type="text" name="upn" th:field="*{upn}" size="20">
                    </div>
                </div>

                <div class="right">
                    <div class="right_inner">
                       <div class="date">
                            <label for="birthday">生年月日</label><br>
                            <input type="date" name="birthday" th:field="*{birthday}" size="20">
                            
                        </div>

                        <div class="gender">
                            <label for="gender">性別</label><br>
                            <input type="radio" name="gender" value="1" th:field="*{gender}" > 男性
                            <input type="radio" name="gender" value="2" th:field="*{gender}"> 女性 
                                                
                        </div>

                        <div class="from">
                            <label for="prefecture_code">出身都道府県</label><br>
                            <select name="prefecture_code" th:value="*{prefecture_code}">
                                <option value="">=選択肢=</option>
                                <option th:each="item : ${prefecture}" th:value="${item.prefecture_code}" th:text="${item.prefecture_name}" ></option>
                                
                            </select>
                        </div>
                        <div  class="busyo">
                            <label for="department_code">部署コード</label><br>
                            <select name="department_code" th:value="*{department_code}">
                                <option value="">=選択肢=</option>                        
                                <option th:each="item : ${department}" th:value="${item.department_code}" th:text="${item.department_name}" ></option>
                            </select>
                        </div>
                    </div> 
                        <input type="submit" value="登録" class="next"></input>
                        <button type="button" class="back" onclick="history.back()">戻る</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</body>
</html>