<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>検索＆一覧</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  </head>
	<link rel="stylesheet" href="/css/search&list.css"></head>
  <body>
    <form th:method="post" name="form1" th:action="@{/search＆list}">
  <div class="wrapper"> 
    <div class="ground">
      <h3 class="header">検索＆一覧画面</h3>
        <div class="center">
          <div class="main">
            <div class="content-left">
              <label>ユーザーID : <input type="text" class="form-control1" id="user_id" name="userId" th:value="${userId}"/></label><br>

              <label>ユーザー名 : <input type="text" class="form-control2" id="name" name="userName" th:value="${userName}"/></label><br>

              <label> 所属部署 : <select class="form-select form-select-sm3" id="department_code" name="deptCd" th:value="${deptCd}"></label><br>
                        <option value=0>-- 選択してください</option>
                        <option
                        th:each="department : ${department}"
                        th:value="${department.department_code}"
                        th:text="${department.department_name}"
                        th:selected="${department.department_code == selectedValue}">
                        </option>
                    </select><br>
            </div>    
            <div class="content">
                  <div class="content">
                  <label for="entry_date">入社日 :</label><br>
                    <input class="entry_date" type="date" name="startDate" th:value="${startDate}"><br>
                    〜<input class="entry_date" type="date" name="endDate" th:value="${endDate}"><br>
                  </div> 
            </div>
            <div class="content-right">
              <tr><td><input type="submit" class="footer1" value="検索" /></td></tr>
              <a th:href="@{/new_regist}"><input type="button" class="footer2"  value="新規社員登録" ></input></a>
              <a th:href="@{/salary}"><input type="button" class="footer"  value="給与画面" ></input></a>
            </div>
          </div> 
          <div style="width: 100%; height: 330px; overflow-y: scroll; border: 1px #999999 solid;">
          <table class="table table-striped">
          <tr>
            <th>ユーザーID</th>
            <th>ユーザー名</th>
            <th>カナ</th>
            <th>生年月日</th>
            <th>性別</th>
            <th>出身</th>
            <th>所属部署</th>
            <th>入社日</th>
            <th th:if="${userrole eq 'CEO' || userrole eq 'SMD' || userrole eq 'MD' || userrole eq 'DD' || userrole eq 'MD'}">給料ボタン</th>
          </tr>
          <tr th:each="data : ${result1}">
            <td th:text="${data.userId}"/>
            <td th:text="${data.userName}"/>
            <td th:text="${data.name_kana}"/>
            <td th:text="${#dates.format(data.birthday,'yyyy-MM-dd')}">
            <td th:text="${data.gender} == 1 ? 男性 : 女性"/>
            <td th:text="${data.prefecture_name}"/>
            <td th:text="${data.department_name}"/>
            <td th:text="${#dates.format(data.entry_date,'yyyy-MM-dd')}">
			<td th:if="${userrole eq 'CEO' || userrole eq 'SMD' || userrole eq 'MD' || userrole eq 'DD' || userrole eq 'MD'}">
			<a th:href="@{/salary}"><input type="button" class="footer3" value="給与画面" ></input></a>
          </tr>
          </table> 
          </div> 
        </div> 
    </div>
  </div>
</body>
</html>